@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Josefin+Slab:ital,wght@1,600&family=Lora&family=Nanum+Gothic+Coding&family=Space+Mono&family=Trirong:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
}

.about-content {
  flex: 1;
  padding: 20px;
  max-width: 50%;
  line-height: 2rem;
  cursor: pointer;
}

.about-content p {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 500;
  font-style: normal;
}

.about-content h1 {
  position: relative;
  cursor: pointer;
  color: #f46000;
}

.about-content h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s;
}

.about-content h1:hover::after {
  width: 30%;
}

.about-image {
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.about-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: all 200ms ease-in-out;
  filter: brightness(1.2);
}

.about-image img:hover {
  filter: brightness(1);
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #f46000;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background-color: #573d32;
  transition: all 0.475s;
}

@media (min-width: 768px) {
  .about-part {
    flex-direction: row;
    justify-content: center;
  }
  .menu-image {
    max-width: 100px;
  }
}

@media (max-width: 768px) {
  .about-part {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .about-content {
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 1rem;
  }
  .about-image {
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 2rem;
  }
}

.part-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 5px;
  padding: 20px;
}

.part-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.menu-image {
  max-width: 400px;
}

@media (max-width: 768px) {
  .showmenu-container {
    padding: 10px;
  }

  .menu-image {
    max-width: 300px;
  }
}

.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 3rem;
  padding: 20px;
  cursor: pointer;
  flex-wrap: wrap;
}

.gif-img {
  max-width: 100px;
  background-color: #f46000;
  display: flex;
  margin: 0 auto;
  border-radius: 10%;
  margin-bottom: 20px;
  transition: all 200ms ease-in-out;
}

.gif-img:hover {
  filter: brightness(0.9);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
  background-color: #573d32;
  padding: 20px;
  color: white;
  cursor: pointer;
}

.footer-container div {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-container div {
    flex: 1;
    margin: 0 10px;
    margin-bottom: 0;
  }
}

.menu-nav-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.menu-container1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .menu-container1 div div {
    flex-direction: column;
    padding: 20px;
    margin-bottom: -2rem;
  }
  .menu-container1 div div h4 {
    margin-left: 0;
    margin-bottom: 5px;
  }
  .menu-container1 {
    margin-top: 1rem;
  }
}
